---
import Layout from '@layouts/Layout.astro';
import PluginCards from '@components/contentComponents/PluginCards.astro';
import CodeBlock from '@components/CodeBlock.astro';
import EventTester from '@components/testingComponents/EventTester.astro';
import Linebreak from '@components/textComponents/Linebreak.astro';
---

<Layout 
	title="Plugins"
	heading="Custom Analytics Events | Web Marketing Plugin Suite"
>
	<section>
		<div class="text-width-2">
			<!-- Body Section -->
			<h2>What It Is</h2>
			<p><strong>Custom Behavioral Tracking For Google Analytics</strong></p>
			<p>Need to track more than just page views? Need event names and triggers that aren't included by default? Do you need to tag a large number of elements to get detailed user behavior? <strong>This is what you need.</strong></p>
			
		</div>
	</section>
	
	<hr/>

	<section>
		<div class="text-width-2">
			<!-- New Section -->
			<h2>Testing</h2>
			
			<div class="flexRow">
				<a 
					class="button-1" 
					href="#custom_event_1" 
					data-click-event="custom_event_1"
				>Custom Event 1</a>
				<a 
					class="button-1" 
					href="#custom_event_2" 
					data-click-event="custom_event_2"
				>Custom Event 2</a>
				<a 
					class="button-1" 
					href="#custom_event_3" 
					data-click-event="custom_event_3"
				>Custom Event 3</a>
				<a 
					class="button-1" 
					href="#custom_event_4" 
					data-click-event="custom_event_4"
				>Custom Event 4</a>
				<a 
					class="button-1" 
					href="#custom_event_5" 
					data-click-event="custom_event_5"
				>Custom Event 5</a>
			</div>

			<EventTester/>

		</div>

	</section>

	<hr/>

	<section>
		<div class="text-width-2">
			<!-- New Section -->
			<h2>Expansion Modules</h2>

			<ul>
				<li>Bot Detection Events</li>
				<li>Advanced Behavior Events</li>
			</ul>
		</div>
	</section>
	
</Layout>

<style>
	
	

</style>
